body{
    background-color: #fce5ce;
    }
 h1{
    text-align: center;
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }

label {
        display: block;
        margin-bottom: 10px;
    }

        input[type=text], input[type=password] {
            width: 20%;
            padding: 10px;
            border: 1px solid #ccc;
        }

        button {
            width: 20%;
            padding: 10px;
            border: none;
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
        }

        button:hover {
            opacity: 0.8;
        }

        